html,
body {
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
    position: relative;
    width: 100%;
    height: 90%;
    box-shadow: #333 0px 0px 15px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(#008, #006);
}

h1,
h2,
h3,
h4,
h5 {
    width: max-content;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

p {
    margin-left: 0%;
    margin-right: 0%;
}

input[type=text] {
    margin-bottom: 10%;
    margin-top: 12px;
    display: block;
}

.basic-label {
    display: block;
    width: max-content;
}

.pole {
    width: 25%;
}

.left-pole {
    text-align: right;
}

.right-pole {
    text-align: left;
}

.choice {
    margin-right: 8px;
}

.vueperslide__content {
    width: 80%;
}

.likert {
    margin-bottom: 35px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.question {
    font-size: larger;
    border-bottom: 1px solid white;
    padding-bottom: 7px;
}

.audio-container {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.centered-text {
    text-align: center;
}

.evaluations {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 40%;
}

.hidden {
    display: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

audio {
    border-radius: 10px;
}

#consent {
    position: absolute;
    bottom: 10px;
}

.vueperslides__fractions {
    width: 100%;
    bottom: .8em!important;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    height: 20px;
    left: 0px;
}

.vueperslide {
    background-image: linear-gradient(#008, #006);
}

.flag {
    position: absolute;
    top: 15px;
    height: 20px;
    width: 37px; 
    z-index: 100;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flag:hover {
    box-shadow: white 0px 0px 15px;
}
#german {
    right: 65px;
    background-image: url(file:///Users/janschnegotzki/Downloads/Flag_of_Germany.svg);
}

#english {
    right: 15px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg)
}
